<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>okadmin-stop</string>
  <key>CFBundleIconFile</key>
  <string>AppIconStop</string>
  <key>CFBundleIdentifier</key>
  <string>net.okseries.okadmin.stop</string>
  <key>CFBundleName</key>
  <string>OK Admin Stop</string>
  <key>CFBundleDisplayName</key>
  <string>OK Admin Stop</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.2</string>
</dict>
</plist>
